<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>322320677864-d0rvkukl53su6amg9c67kg69rcrjjscv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.322320677864-d0rvkukl53su6amg9c67kg69rcrjjscv</string>
	<key>API_KEY</key>
	<string>AIzaSyDXpTIlU87JBpmiK_jwDr8wRB-LScntV_g</string>
	<key>GCM_SENDER_ID</key>
	<string>322320677864</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>de.kpaetzold.newmobility</string>
	<key>PROJECT_ID</key>
	<string>new-mobility-2e441</string>
	<key>STORAGE_BUCKET</key>
	<string>new-mobility-2e441.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:322320677864:ios:3232a13a9d3bf10573025d</string>
</dict>
</plist>
